<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Valet My Motor - 1st Class Car Valeting</title>
    <link href="~/Content/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">
    <link href="~/Content/Main.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="~/Scripts/ApiClient.js"></script>
</head>
<body>
    <div style="float:left">
        <img src="~/Images/logo_100.png"/>
        </div>
    <div style="margin-left:110px;">
        <h1 class="logo">Valet My Motor</h1>
        <h2>1st Class Car Valeting at Your Home</h2>
    </div>
    <div style="clear:both">
        <hr />
        @RenderBody()
    </div>
</body>
</html>
