@model Sixeyed.ExtensionLibrary.Stubs.Web.Models.UserModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>C# Extension Methods</h2>
    <p class="lead">Extension methods are a powerful C# feature which are underused and often misunderstood. In this course you’ll learn all about writing, using and organising extension methods...</p>
    <p><a href="http://pluralsight.com/training/Courses/TableOfContents/csharp-extension-methods" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">

    @using (Html.BeginForm("Submit", "Home", FormMethod.Post, new { id = "form1", autocomplete = "off" }))
    {
        <fieldset>
            <legend>About you</legend>
            <p>
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name)
            </p>
        </fieldset>

        <div>
            <p>
                <button id="btnRegister" type="submit" class="btn btn-default">Register</button>
                @Html.ValidationSummary(true)
            </p>
        </div>
    }
</div>
