<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssertMessage.Fody" version="1.0.7" targetFramework="net451" developmentDependency="true" />
  <package id="Fody" version="1.23.2" targetFramework="net451" developmentDependency="true" />
  <package id="NUnit" version="2.6.3" targetFramework="net451" />
</packages>