<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MovieDB" connectionString="metadata=res://*/Movies.csdl|res://*/Movies.ssdl|res://*/Movies.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=moviereviews;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>