<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>
    <add key="api.url" value="http://localhost/Sixeyed.SpecFlowItAll.Api/" />
    <add key="api.url.perf" value="http://sc-specflow-api.cloudapp.net/" />
    <add key="loader.url" value="https://api.loader.io/v2/tests/6d27cbe3405840e2fe457e2ac6c70b2e/run" />
    <add key="loader.key" value="3f199b63f1e794b062f2e67243348d63" />
  </appSettings>

  <specFlow>
    <unitTestProvider name="MsTest" />
  </specFlow>

  <connectionStrings configSource="connectionStrings.config"/>
  
</configuration>