<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="LargeObjectGraphBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>


		<bindings />
		<client />
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
	<appSettings>
		<add key="DataServiceURL_DemosTelerikCom" value="http://demos.telerik.com/silverlight/SalesManagerDashboard/AWDWDataService.svc/"></add>
		<add key="DataServiceURL_Localhost" value="http://demos.telerik.com/silverlight/SalesManagerDashboard/AWDWDataService.svc/"></add>
	</appSettings>
</configuration>
