<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_WordCountService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Sixeyed.Disposable.WcfService/WordCountService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WordCountService"
                contract="ServiceAgents.WordCount.WordCountService" name="BasicHttpBinding_WordCountService" />
        </client>
    </system.serviceModel>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>
  <connectionStrings>
    <add name="Books"
         connectionString="Data Source=.;Initial Catalog=Sixeyed.Disposable.Database;Integrated Security=True;App=psod-disposable;Max Pool Size=200;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>