<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel">
      <section name="domainServices" type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowDefinition="MachineToApplication" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- Use this to diagnose services problems with the Service Trace Viewer tool -->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\SalesDashboard.WebServices.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0" batch="false">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="AdventureWorksDWAZ2008R2XLabsEntities" connectionString="metadata=res://*/AdventureWorksDWModel.csdl|res://*/AdventureWorksDWModel.ssdl|res://*/AdventureWorksDWModel.msl; provider=System.Data.SqlClient; provider connection string=&quot;Data Source=.\SQLExpress; AttachDbFilename=|DataDirectory|\AdventureWorksDWAZ2008R2XLabs.mdf;Integrated Security=True; User Instance=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="AdventureWorksDWAZ2008R2XLabsEntities" connectionString="metadata=res://*/AdventureWorksDWModel.csdl|res://*/AdventureWorksDWModel.ssdl|res://*/AdventureWorksDWModel.msl;&#xD;&#xA;                           provider=System.Data.SqlClient;&#xD;&#xA;                           provider connection string=&quot;&#xD;&#xA;                           Data Source=.\SQLExpress;&#xD;&#xA;                           AttachDbFilename=|DataDirectory|\AdventureWorksDWAZ2008R2XLabs.mdf;&#xD;&#xA;                           Integrated Security=True;&#xD;&#xA;                           User Instance=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <domainServices>
      <endpoints>
        <!--<add name="OData"
			 type="System.ServiceModel.DomainServices.Hosting.ODataEndpointFactory, System.ServiceModel.DomainServices.Hosting.OData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
        <!--<add name="soap"             
			 type="Microsoft.ServiceModel.DomainServices.Hosting.SoapXmlEndpointFactory, Microsoft.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
      </endpoints>
    </domainServices>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="SalesDashboard.Web.AWDWDomainService"></service>
      <service name="SalesDashboard.Web.AWDWSimpleService"></service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!-- fixes an error when the data transmitted to the client is too large -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>