<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="sixeyed.core.caching" type="Sixeyed.Core.Configuration.CacheConfiguration, Sixeyed.Core" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <sixeyed.core.caching enabled="true">
    <targets>
      <target keyPrefix="VehicleRepository.GetMakes" cacheType="Memory" enabled="true"/>
    </targets>
  </sixeyed.core.caching>
  <connectionStrings>
    <!-- Azure Table Storage -->
    <add name="Sixeyed.Core.Cache" connectionString="DefaultEndpointsProtocol=https;AccountName=sccache;AccountKey=RW/LKHfeOBaYvjzIHZifXTsxgnf/rK8MMUP7QDDlyH308F/6iC6OwtHJOIWCDDvnsp3NdHiMG6Wl/UC3+i7gRg==" />
    <!-- Database -->
    <add name="VehicleEntities" connectionString="metadata=res://*/VehicleModel.csdl|res://*/VehicleModel.ssdl|res://*/VehicleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLDEV2012;initial catalog=CarValet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ContentEntities" connectionString="metadata=res://*/ContentModel.csdl|res://*/ContentModel.ssdl|res://*/ContentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLDEV2012;initial catalog=CarValet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>