<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="commerceEngine" type="Commerce.Engine.Configuration.CommerceEngineConfigurationSection,Commerce.Engine"/>
  </configSections>
  <commerceEngine>    
    <paymentProcessor name="acme" type="Commerce.Providers.AcmePaymentProcessor,Commerce.Providers" />
    <mailer name="myMailer" type="Commerce.Providers.Mailer,Commerce.Providers" fromAddress="miguelcastro67@gmail.com" smtpServer="mail.gmail.com" />
    <modules>
      <add name="ItemPromotion" type="Commerce.Modules.ItemPromotionModule,Commerce.Modules" />
      <add name="SkuMiner" type="Commerce.Modules.SkuMinerModule,Commerce.Modules" />
    </modules>
  </commerceEngine>
</configuration>
