<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="commerceEngine" type="Commerce.Engine.Configuration.CommerceEngineConfigurationSection,Commerce.Engine"/>
  </configSections>
  <appSettings>
    <add key="moduleFolder" value="F:\Training\Pluralsight\Developing Extensible Software\Development\Modules\m8-using-mef\demos\Starter\Commerce.TestClient\Modules" />
  </appSettings>
  <commerceEngine>    
    <paymentProcessor name="acme" type="Commerce.Providers.AcmePaymentProcessor,Commerce.Providers" />
    <mailer name="myMailer" type="Commerce.Providers.Mailer,Commerce.Providers" fromAddress="miguelcastro67@gmail.com" smtpServer="mail.gmail.com" />
  </commerceEngine>
</configuration>
