<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NCacheServer.Port" value="9800"/>
    <add key="NCacheServer.BindToIP" value="" />
    <add key="NCacheServer.AutoStartCache" value="Sixeyed.Core.Cache"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="no" />
      <probing privatePath="deployed" />
    </assemblyBinding>
  </runtime>
</configuration>