<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="moduleFolder" value="F:\Training\Pluralsight\Developing Extensible Software\Development\Modules\m8-using-mef\demos\Complete\Commerce.TestClient\Modules" />
    <add key="mailerFromAddress" value="miguelcastro67@gmail.com" />
    <add key="mailerSmtpServer" value="mail.gmail.com" />
  </appSettings>
</configuration>
