<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0" batch="false">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <!--Local db connection string-->
    <!--<add name="AdventureWorksDWAZ2008R2XLabsEntities" connectionString="metadata=res://*/AdventureWorksDWModel.csdl|res://*/AdventureWorksDWModel.ssdl|res://*/AdventureWorksDWModel.msl;&#xD;&#xA;                           provider=System.Data.SqlClient;&#xD;&#xA;                           provider connection string=&quot;&#xD;&#xA;                           Data Source=.\SQLExpress;&#xD;&#xA;                           AttachDbFilename=|DataDirectory|\AdventureWorksDWAZ2008R2XLabs.mdf;&#xD;&#xA;                           Integrated Security=True;&#xD;&#xA;                           User Instance=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--Azure db connection string-->
    <add name="AdventureWorksDWAZ2008R2XLabsEntities" connectionString="metadata=res://*/AdventureWorksDWModel.csdl|res://*/AdventureWorksDWModel.ssdl|res://*/AdventureWorksDWModel.msl; provider=System.Data.SqlClient; provider connection string=&quot;Data Source=.\SQLExpress; AttachDbFilename=|DataDirectory|\AdventureWorksDWAZ2008R2XLabs.mdf;Integrated Security=True;User Instance=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>